<div id="signup-schedule">
  <table class="table-bordered table-striped signuptable">
    <thead>
      <tr>
        <th class="table-header">Today</th>
        <th class="table-header">Tomorrow</th>
        <th class="table-header"><%= (Date.today+2).strftime("%B #{(Date.today+2).day.ordinalize}") %></th>
        <th class="table-header"><%= (Date.today+3).strftime("%B #{(Date.today+3).day.ordinalize}") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="signup-cell"><%= signup_or_holder(Date.today) %></td>
        <td class="signup-cell"><%= signup_or_holder(Date.today+1) %></td>
        <td class="signup-cell"><%= signup_or_holder(Date.today+2) %></td>
        <td class="signup-cell"><%= signup_or_holder(Date.today+3) %></td>
      </tr>
    </tbody>
  </table>
</div>