<%= nested_form_for Album.new, :html => {:multipart => true}  do |f| %>
  <p>add an album song by song</p>
  <%= f.hidden_field :uploaded_by,  { value: current_user.id} %>
  <%= f.fields_for :songs do |builder| %>
    <%= render 'song_fields', f: builder %>
  <% end %>

<%= link_to_add_fields "Add a Song", f, :songs %>

<br/>
<br/>
<p><%= f.submit "Submit" %></p>
<% end %>
