<div class="container">
  <div class="top-nav pull right">
    <h2>
      <%= link_to "add a new album", new_album_path, :target => "_blank", :class=>"popup pull-right" %>
    </h2>
  </div>

  <div id="slider-two" class="albumslider">
  	<% @albums.each do |album| %>
  		<div>
  		<%= image_tag album.art, :class =>"scrolleralbumart" %>
  			<h2><span><%= album.artist%></span></h2>
  			<h2 class="albumname"><%= album.name %></h2>
        <%#= link_to "Album Details", album_path(album) %>
        <p>Uploaded by: <%= album.uploader %> </p>
  			<a class="modallaunch btn" data-toggle="modal" href="#myModal" data-album-id="<%= album.id %>" data-album-name="<%= album.name %>">Sign up!</a>
  		</div>
  	<% end %>
  </div>

  <%= render partial: "signup_modal" %>

  <div class="slide-out-div-calendar">
    <a class="handle" href="http://link-for-non-js-users.html">Content</a>
    <%= render partial: "signups/signups" %>
  </div>

  <div class="slide-out-div-album">
    <a class="albumhandle" href="http://link-for-non-js-users.html">Content</a>
    <%= render partial: "play", :locals => { :album => todays_album_or_nil } %>
  </div>
</div>



